.icon__container {
    display: inline-block;
    text-align: center;
    user-select: none;
}

.icon__container .title {
    color: #fff;
    margin-top: 7px;
    background: #000;
    padding: 7px;
    border: 1px dashed #fff;
    font-size: 0.8rem;
}

.icon__container .icon {
    width: 32px;
    height: 32px;
}

.icon__container .icon.sm {
    width: 16px;
    height: 16px;
}

.icon__container .icon.m {
    width: 24px;
    height: 24px;
}

.icon__container .icon.lg {
    width: 48px;
    height: 48px;
}

.icon__container .icon.xlg {
    width: 64px;
    height: 64px;
}
