.icon__container {
    display: inline-block;
    text-align: center;
    user-select: none;
}

.icon__container .title {
    color: #000;
    margin-top: 5px;
    /* background: #000; */
    padding: 5px 0px;
    /* border: 1px dashed #fff; */
    font-size: 0.8rem;
    width: 82px;
    /* display: block; */
    word-break: keep-all;
    line-height: 14px;
}

.icon__container .title.pressed {
    background: navy;
    /* border: 1px dotted #fff; */
    color: #fff;
}

.icon__container .icon {
    width: 32px;
    height: 32px;
}

.icon__container .icon.s {
    width: 16px;
    height: 14px;
}

.icon__container .icon.m {
    width: 24px;
    height: 24px;
}

.icon__container .icon.lg {
    width: 48px;
    height: 48px;
}

.icon__container .icon.xlg {
    width: 64px;
    height: 64px;
}
