.login__container {
    display: flex;
    padding-top: 12px;
}

.login__container .login__image {
    flex: 1;
    text-align: center;
}

.login__container .login__form {
    flex: 3;
    padding: 0 23px;
}

.login__container .login__form .form__input {
    display: flex;
    align-items: center;
}
.login__container .login__form .form__input span {
    /* width: 500px; */
}
.login__container .login__form .form__input label {
    font-size: 0.9rem;
    width: 100px;
}

.login__container .login__form input {
    /* width: 90%; */
}

.login__container .login__form .form__title {
    line-height: 1.2rem;
    margin-bottom: 12px;
    font-size: 0.93rem;
}

.login__container .login__btns {
    flex: 1;
}

.login__container .login__btns .btns__ok {
    margin-bottom: 12px;
}
